body {
  background-color: ghostwhite;
  font-family: sans-serif;
}

.gyno-img {
  width: 80%;
  border-radius: 5%;
}

.header {
  text-align: center;
  background-color: lightblue;
  margin: 1% 4%;
}

.linux {
  width: 66%;
}

.my-col {
  padding: 10px;
}

.navbar {
  background-color: lightblue;
  padding: 5px 50px;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-weight: lighter;
  font-size: 1rem;
}

.row {
  text-align: center;
  margin: 20px;
}

#title {
  font-weight: lighter;
  font-size: 2rem;;
}
